[submodule "rootana"]
	path = rootana
	url = https://bitbucket.org/tmidas/rootana.git
[submodule "agana"]
	path = agana
	url = https://bitbucket.org/expalpha/agana.git


[submodule "simulation/CADMesh"]
	path = simulation/CADMesh
	url = https://github.com/a-capra/CADMesh.git
