*~
*.o
*.exe
*.so
*.gz
*.mid.gz
*.mid.lz4
*.mid.crc32c
*.mid.lz4.crc32c
*.png
*.pdf
*.csv
*.ods
run*.json
*.root
*.log
core.*
pwb*.map
LookUp*.dat
midas.log
ssl_cert*
.*.SHM
.LOGGER_HISTORY_EVENTS.TXT
history/
firmware/
analib/analib.cc
reco/agtpc.cc
*_rdict.pcm
*.log
*.log.nopid
ana/AutoPlots
ana/include/GitInfo.h
*.list
scripts/__pycache__/
AutoPlots/
*.csv
*.ods
scripts/UnitTest/*.out
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
dict.cc
wiresmap.dat
AGTPC
.nfs*
simulation/Makefile
simulation/cry.file
simulation/*.mac
simulation/submodules/cry_v1.7
G4outDict.cc
recolib/agtpc.cc
