*~
*.o
*.exe
*.so
*.mid.gz
*.mid.lz4
*.mid.crc32c
*.mid.lz4.crc32c
run*.json
*.root
*.log
ana/pwd*.map
midas.log
ssl_cert*
.*.SHM
.LOGGER_HISTORY_EVENTS.TXT
history/
firmware/
analib/analib.cc
reco/agtpc.cc
*_rdict.pcm
scripts/UnitTest/*.log
scripts/UnitTest/*.log.nopid
rootana
ana/AutoPlots
ana/GitInfo.h
