[submodule "rootana"]
	path = rootana
	url = https://bitbucket.org/tmidas/rootana.git
[submodule "agana"]
	path = agana
	url = https://bitbucket.org/expalpha/agana.git
[submodule "feGEM"]
	path = feGEM
	url = https://github.com/josephmckenna/feGEM.git
[submodule "a2mc"]
	path = simulations/a2mc
	url = https://gitlab.cern.ch/unibs/a2mc.git

